.container {
  height: 2rem;
  background-color: white;
  cursor: pointer;
  align-items: center;
  &:hover {
    background-color: whitesmoke;
  }
}

.avatar {
  width: 2rem;
  padding-right: 0.5rem;
  img {
    height: 2rem;
    width: auto;
  }
}

.state {
  font-size: 80%;
  text-align: right;
  padding-right: 0.5rem;
  font-weight: 500;;
  &.open {
    color: orange;
  }
  &.closed {
    color: green;
  }
}