.container {
  height: 2rem;
  background-color: white;
  cursor: pointer;
  align-items: center;
  &:hover {
    background-color: whitesmoke;
  }
}

.avatar {
  img {
    height: 2rem;
    width: auto;
  }
}

.state {
  font-size: 80%;
  text-align: right;
  padding-right: 0.5rem;
}