.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  justify-content: center;
  // margin: .5rem;
  background-color: whitesmoke;
  max-width: 100vw;
  overflow: hidden;
  padding: 0 0.5rem;
}

.backSlash {
  // transform: scale(-0.5, 1);
  font-size: 120%;
  margin-bottom: 0.5rem;
}